@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo   */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

header {
text-align: center;
margin-top: 50px;
margin-bottom: 30px;
border-bottom: 2px solid black;
padding: 1em;
}

[class*="en-"]:before {
  font-family: 'entypo', sans-serif;
}
html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin-left: 100px;
  background-color:rgb(207, 192, 192)
}

nav {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: black;
  color: #fff;
  float: left;
  overflow: hidden;
  transition: width .3s ease-in-out;
  box-shadow: 0 0 1px #000;
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  z-index: 100;
}

.sidebar:hover {
  width: 250px;
  overflow-y: auto;
}

.canvas-toggle {
  position: fixed;
  z-index: 1199;
}

.sidebar:hover input[type="text"] {
  padding: 5px 10px;
}

.sidebar:hover .main-nav ul li a {
  opacity: 1;
  left: 0;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.sidebar .main-nav ul li {
  min-height: 50px;
  line-height: 50px;
  position: relative;
}

.sidebar .main-nav ul li.logo {
  margin-bottom: 10px;
}

.sidebar .main-nav ul li.logo a {
  text-transform: uppercase;
  font-weight: 800;
}

.sidebar .main-nav ul li.logo i:before {
  color: yellow;
  font-size: 1.6em;
}

.sidebar .main-nav ul li a {
  display: block;
  padding-left: 50px;
  position: relative;
  left: 15px;
  opacity: 0;
  transition: all .3s ease-in-out;
  cursor: pointer;
  font-weight: 300;
}

.sidebar .main-nav ul li i {
  font-weight: 100;
  position: absolute;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 0;
  text-align: center;
}

.sidebar .main-nav ul li i:before {
  font-size: 1.25em;
  transition: all .3s ease-in-out;
}

.sidebar .main-nav ul li:hover {
  background-color: #111;
  border-left: 3px solid yellow;
}

.sidebar .main-nav li a:focus {
  border-left: 3px solid yellow;
}

.sidebar .main-nav ul li:hover i:before {
  color: yellow;
}

.sidebar:hover + .menu {
  transition: all 0.5s ease;
  position: relative;
  float: left;
}

nav:hover ~ .menu {
  transition: all 0.5s ease;
  position: relative;
  left: 10%;
  width: 90%;
}

.menu {
  position: relative;
  left: 3%;
  width: 97%;
}


/* form CSS */
.btn
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .5s ease-in-out;
}
.btn-block
{
    width: 100%;
}
.btn-primary .bnt-sec
{
    cursor: pointer;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary 
.btn-sec:hover
{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

input[type="text"] {
  left: 20%;
  top: 10px;
  color:yellow;
  width: 30%;
  line-height: 1.8;
  font-size: 1.1rem;
  padding: 0;
}

 /* Footer CSS */
.site-footer
{
  background-color:black;
  padding:45px 0 20px 50px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
    
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center;
  }
}
    