@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo   */
header {
text-align: center;
margin-top: 10px;
margin-bottom: 30px;
border-bottom: 2px solid #9b00ff;
padding: 1em;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


[class*="en-"]:before {
  font-family: 'entypo', sans-serif;
}
html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin-left: 50px;
  background-color: #d9dff5
}

nav {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: black;
  color: #fff;
  float: left;
  overflow: hidden;
  transition: width .3s ease-in-out;
  box-shadow: 0 0 1px #000;
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  z-index: 100;
}

.sidebar:hover {
  width: 250px;
  overflow-y: auto;
}

.canvas-toggle {
  position: fixed;
  z-index: 1199;
}

.sidebar:hover input[type="text"] {
  padding: 5px 10px;
}

.sidebar:hover .main-nav ul li a {
  opacity: 1;
  left: 0;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.sidebar .main-nav ul li {
  min-height: 50px;
  line-height: 50px;
  position: relative;
}

.sidebar .main-nav ul li.logo {
  margin-bottom: 10px;
}

.sidebar .main-nav ul li.logo a {
  text-transform: uppercase;
  font-weight: 800;
}

.sidebar .main-nav ul li.logo i:before {
  color: #604fcd;
  font-size: 1.6em;
}

.sidebar .main-nav ul li a {
  display: block;
  padding-left: 50px;
  position: relative;
  left: 15px;
  opacity: 0;
  transition: all .3s ease-in-out;
  cursor: pointer;
  font-weight: 300;
}

.sidebar .main-nav ul li i {
  font-weight: 100;
  position: absolute;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 0;
  text-align: center;
}

.sidebar .main-nav ul li i:before {
  font-size: 1.25em;
  transition: all .3s ease-in-out;
}

.sidebar .main-nav ul li:hover {
  background-color: #111;
  border-left: 3px solid #604fcd;
}

.sidebar .main-nav li a:focus {
  border-left: 3px solid #604fcd;
}

.sidebar .main-nav ul li:hover i:before {
  color: #604fcd;
}

.sidebar:hover + .menu {
  transition: all 0.5s ease;
  position: relative;
  float: left;
}

nav:hover ~ .menu {
  transition: all 0.5s ease;
  position: relative;
  left: 10%;
  width: 90%;
}

.menu {
  position: relative;
  left:3%;
  width: 97%;
}


/* form CSS */

.btn-login
{
    cursor: pointer;
    color: #fcfbff;
    background-color: #604fcd;
    border-color: #130b43;
    width: 10%;
    font-size: 20px;
}

.btn-login:hover {
  background-color: #412eb9;
  box-shadow: 0 6px 10px 0  #000;
}

.btn-reg {
  cursor: pointer;
  color: #fcfbff;
  background-color: #604fcd;
  border-color: #130b43;
  width: 10%;
  font-size: 20px;
}

.btn-reg:hover {
  background-color: #412eb9;
  box-shadow: 0 6px 10px 0  #000;
}


input[type="text"] {
  left: 20%;
  top: 10px;
  color: black;
  width: 30%;
  line-height: 1.8;
  font-size: 1.1rem;
  padding: 0;
  border: 3px solid #9b00ff

}
#pword {
  left: 20%;
  top: 10px;
  color: black;
  width: 30%;
  line-height: 1.8;
  font-size: 1.1rem;
  padding: 0;
  border: 3px solid #9b00ff

}

#cpword {
  left: 20%;
  top: 10px;
  color: black;
  width: 30%;
  line-height: 1.8;
  font-size: 1.1rem;
  padding: 0;
  border: 3px solid #9b00ff

}
.login {
margin-top: 10px;
margin-left: 50px;

}
.gap {
  border-top: 2px solid #9b00ff;
}
h2 {
  margin-left: 50px;
}

.registration {
margin-top: 10px;
 margin-left: 50px;
}

.join {
 float: right;
 margin-right: 50%;
 margin-top: 10px;
 position: static;
}

.login-img {
float: right;
 margin-right: 50%;
 position: static;
}

 /* Footer CSS */
.site-footer
{
  background-color:black;
  padding:45px 0 20px 50px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color: #fff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
    
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center;
  }
}
    